{%load staticfiles%}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{%static 'CSS/style.css'%}">
	<title>ANIMES</title>
</head>
<body class="car">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CHORMI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<br>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">INICIO <span class="sr-only">HI</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HACK</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          OPCIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">GANAR</a>
          <a class="dropdown-item" href="#">PERDER</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">REVANCHA XD</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">GANAR</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="BUSCADOR" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
    </form>
  </div>
</nav>
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="http://pm1.narvii.com/6729/a2179abfcb88032aed7d1a1c43d5796ee0f4186cv2_00.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src=" https://i.pinimg.com/originals/3f/83/1b/3f831b3da352031350788e471ab3760a.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/53/1b/50/531b5094ce51fbe6655e88d1782e9683.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<br>
<div class="chor">
  <h2>
    Lorem ipsum 
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<br>
<div class="container">
  <div class="row">
  <div class="col-sm">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/MWKcIClOEio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          MELIODAS
        </button>
      </h2>
    </div>
<br>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
Meliodas (メリオダス, , Meriodasu ?) es el líder de los Siete Pecados Capitales. ... Su tesoro sagrado es la Espada Demoníaca Lostvayne y su poder inherente es Full Counter. Hace tres mil años, Meliodas fue el líder de los Diez Mandamientos, un ex miembro de Stigma, y el hijo mayor del Rey Demonio.      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ELIZABETH
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
Luego tras el inciso con Twigo, Meliodas dice su identidad a Elizabeth, Capitán de los 7 pecados capitales, la ira del dragón. Y así salen Meliodas, Elizabeth y Hawk en busca de los 7 pecados para reunirlos otra vez.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          BAN
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
Ban ( バ ン, , Ban ?) es un miembro de los Siete Pecados Capitales, precisamente quien representa el pecado de la Codicia y además posee la marca del Zorro. Después de la disolución del grupo, Ban fue inicialmente encarcelado en Baste Dungeon, pero escapó cuando descubrió que Meliodas seguía vivo.
      </div>
    </div>
  </div>
</div> 
  </div>
</div>
</div> 
<br>
<!-- Button trigger modal -->
<div class="chor">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
</div>
<br>
<div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ANIME</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm">
       <div class="card" style="width: 18rem;">
  <img src="https://laverdadnoticias.com/__export/1618859344301/sites/laverdad/img/2021/04/19/ban_nanatsu_no_taizai_curiosidades.jpg_514966513.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Ban ( バ ン, , Ban ?) es un miembro de los Siete Pecados Capitales, precisamente quien representa el pecado de la Codicia y además posee la marca del Zorro. Después de la disolución del grupo, Ban fue inicialmente encarcelado en Baste Dungeon, pero escapó cuando descubrió que Meliodas seguía vivo.</p>
  </div>
</div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
  <img src="https://www.nacionflix.com/__export/1597359167792/sites/debate/img/2020/08/13/la_temporada_4_de_los_siete_pecados_capitales_ya_tiene_nuevo_trxiler_crop1597359128826.jpg_1902800913.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Meliodas (メリオダス, , Meriodasu ?) es el líder de los Siete Pecados Capitales. Él es el protagonista masculino de la historia, su pecado es la Ira y su símbolo el Dragón, también es el propietario del Boar Hat. Su tesoro sagrado es la Espada Demoníaca Lostvayne y su poder inherente es Full Counter.</p>
  </div>
</div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
  <img src="http://pm1.narvii.com/7122/331a08d1caa9f003b74de15cc0f92bf657336a03r1-539-569v2_00.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Hawk (ホーク, , Hōku ?) es un cerdo parlante y compañero de Meliodas. Es el limpiador de sobras oficial del Boar Hat.</p>
  </div>
</div>
      </div>
</div>
</div>
<br>
<div class="container">
  <div class="row">
  <div class="col-sm">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/MWKcIClOEio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          MELIODAS
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
Meliodas (メリオダス, , Meriodasu ?) es el líder de los Siete Pecados Capitales. ... Su tesoro sagrado es la Espada Demoníaca Lostvayne y su poder inherente es Full Counter. Hace tres mil años, Meliodas fue el líder de los Diez Mandamientos, un ex miembro de Stigma, y el hijo mayor del Rey Demonio.      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ELIZABETH
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
Luego tras el inciso con Twigo, Meliodas dice su identidad a Elizabeth, Capitán de los 7 pecados capitales, la ira del dragón. Y así salen Meliodas, Elizabeth y Hawk en busca de los 7 pecados para reunirlos otra vez.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          BAN
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
Ban ( バ ン, , Ban ?) es un miembro de los Siete Pecados Capitales, precisamente quien representa el pecado de la Codicia y además posee la marca del Zorro. Después de la disolución del grupo, Ban fue inicialmente encarcelado en Baste Dungeon, pero escapó cuando descubrió que Meliodas seguía vivo.
      </div>
    </div>
  </div>
</div> 
  </div>
</div>
</div> 
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15408.049933927232!2d-90.32428977460894!3d15.102640681747594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858a21ea1bda13df%3A0x2d840c119e78db67!2zU2FsYW3DoQ!5e0!3m2!1ses!2sgt!4v1628135673068!5m2!1ses!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-sm-2">
      <ul class="nav flex-column">
      <br>
  <li class="nav-item">
    <a class="nav-link" href="index.html">Link</a>
  </li>
  <br>
  <li class="nav-item">
    <a class="nav-link" href="index.html">Link</a>
  </li>
  <br>
  <li class="nav-item">
    <a class="nav-link" href="index.html">Link</a>
  </li>
  <br>
  <li class="nav-item">
    <a class="nav-link" href="index.html">Link</a>
  </li>
  <br>
    <li class="nav-item">
    <a class="nav-link" href="index.html">Link</a>
  </li>
  <br>
    <li class="nav-item">
    <a class="nav-link" href="index.html">Link</a>
  </li>
  <br>
</ul>
    </div>
    <div class="col-sm-3">
      <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">CORREO</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ingrese su correo">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">EDAD</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>10-20</option>
      <option>20-30</option>
      <option>30-40</option>
      <option>40-50</option>
      <option>50-60</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">DESCRIBASE</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
</form>
    </div>

  </div>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>